.card-section {
    text-align: left;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card h2 {
    margin-top: 10px;
    font-size: 18px;
}

.card p {
    margin-top: 5px;
    font-size: 14px;
}

.rating {
    margin-top: 10px;
}

.rating span {
    color: #b007ff;
    /* Color lila para las estrellas */
}

.vote-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}